body {
    padding: 10px;
}

.listing_img{
  max-height: 400px;
  max-width: 500px;
}

/*override the theme*/
.main_menu .navbar {
  padding-top: 30px;
}
.review_box .form-control {
  height: 100px;
}
.s_product_text .product_count .input-number {
  width: 100px;
}