{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Categorie</h2>

    <div class="jumbotron">
        <p>Users should be able to visit a page that displays a list of all listing categories. 
        Clicking on the name of any category should take the user to a page that displays all of the active listings in that category.</p>
    </div>

    <div class="list-group">
        {% for categorie in categories %}
            <a href="#" class="list-group-item list-group-item-action">{{ categorie }}</a>
        {% endfor %}
    </div>

{% endblock %}