{% extends "auctions/layout.html" %}

{% block body %}
    {% if categorie %}
        <h2>Active Listings > {{ categorie }}</h2>
    {% elif watchlist %}
        <h2>My watchlist of active listing</h2>
    {% else %}
        <h2>Active listing</h2>
    {% endif %}
    <div class="jumbotron">
        <p>The default route of your web application should let users view all of the currently active auction listings. 
            For each active listing, this page should display (at minimum) the title, description, current price, and photo (if one exists for the listing).
        </p>
    </div>

    <div class="row">
    {% for listing in listings %}
    <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="card">
            {% if listing.picture %}
            <div style="height: 400px; overflow:hidden">
                <img  class="card-img-top" src="{{ listing.picture }}" alt="Card image cap">
            </div>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ listing.title }}</h5>
                <p class="card-text">{{ listing.description }}</p>
            </div>
            <ul class="list-group list-group-flush"></ul>
                <li class="list-group-item"><span class="badge badge-info">{{ listing.categorie }}</span></li>
                <li class="list-group-item">{{ listing.start_at }}</li>
                <li class="list-group-item">Starting bid {{ listing.starting_bid }}$</li>
            </ul>
            <div class="card-footer">
                {% if user.is_authenticated %}
                    <a href="{% url 'listing' listing.id user.username %}">More details</a>
                {% else %}
                    <a href="{% url 'listing' listing.id %}">More details</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% empty %}
            No listing
    {% endfor %}
    </div>
{% endblock %}