{% extends "auctions/layout.html" %}
{% block body %}
    <h2>My watchlist</h2>
    
    <div class="jumbotron">
        <p>Users who are signed in should be able to visit a Watchlist page, which should display all of the listings that a user has added to their watchlist. 
            Clicking on any of those listings should take the user to that listing’s page.
        </p>
    </div>
    
    {% for listing in listing %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ listing.title }}</h5>
                <p class="card-text">{{ listing.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ listing.categorie }}</li>
                <li class="list-group-item">{{ listing.start_at }}</li>
            </ul>
            <div class="card-body">
                <a href="{% url 'listing' listing.id %}">More details</a>
            </div>
            </div>
    {% endfor %}
    
{% endblock %}